* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}
a:active, a:hover {
  outline: 0;
}

.h3, h3 {
  font-size: 24px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

input {
  line-height: normal;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
}

.btn-success:hover, .btn-success:focus {
	color: #fff;
}

.title {
	font-size: 300%;
	margin: 100px 0 15px;
	text-align: center;
}

.sub-title {
	text-align: center;
	margin-bottom: 20px;
}

.button {
	margin: 50px auto;
	text-align: center;
}

button > a {
	color: white;
}

footer {
	bottom: 0;
	position: fixed;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.new_card {
	text-align: center;
	margin: 50px 0 15px;
}

.new_card > .new_title {
	font-size: 200%;
	margin-bottom: 20px;
}

.card-images > label > img {
 max-width: 250px;
}

form > input{
	font-size: 14px;
	line-height: 1.42857143;
	height: 34px;
	padding: 6px 12px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.delete-card {
	margin-top: 10px;
}

form {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.form-group {
	flex-grow: 1;
	padding-left: 10px;
	text-align: left;
	margin-bottom: 15px;
}

.form-row {
	margin-left: -10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea.form-control {
  height: auto;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.cards,
.card-images,
.form-row {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
}

.cards {
	padding-left: 25px;
}

.card-images > label {
	margin-right: 30px;
}
.card-images > label > input {
	margin-right: 10px;
}
.cards > li {
	box-sizing: border-box;
	border-radius: 7px;
	border: 1px solid #ddd;
	margin-right: 25px;
	padding: 15px;
}
.cards > li > img {
	max-width: 250px;
}
.card-images > label > img {
	max-width: 250px;
}
.user,
.login {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 160px;
}

.user > img {
	border-radius: 50%;
	float: left;
}

.user .welcome {
	float: left;
	text-align: center;
}

.user .logout {
	text-align: center;
}

.user > .text {
	float: left;
	margin: 20px 0 0 15px;
}

.promo {
	margin-top: 30px;
	text-align: center;
}

.card .recipient {
	margin-bottom: 10px;
}

.card > .actions {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.card > .actions > a {
	margin-right: 10px;
}

form > input[type=file] {
  height: auto;
}

header {
	height: 110px;
	margin-left: 25px;
}

.main-card-image {
  text-align: center;
}

.main-card-image > img {
  max-width: 85%;
}
