<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>hapi Greetings</title>
	<link rel="stylesheet" href="/assets/css/stylesheet.css" />
</head>
<body>
	<div class="title">A greeting from {{sender_name}}</div>

	<div class="main-card-image"><img src="/assets/images/cards/{{card_image}}"></div>

	<div class="promo">
		<a href="http://localhost:3000" class="btn btn-info" role="button">
			Make your own!
		</a>
	</div>
</body>
</html>
