<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>hapi Greetings</title>
	<link rel="stylesheet" href="/assets/css/stylesheet.css" />
</head>
<body>
	<h1>Login:</h1>
	<form action="login" method="POST">
			<div class="form-row">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="emailField" class="form-control" name="email" placeholder="Your Email">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="passwordField" class="form-control" name="password" placeholder="Password"></textarea>
				</div>
			</div>
			<a href="register">New user?</a>
			<input type="submit" value="Login">
		</form>
</body>
</html>
